<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>Rotas</title>
<link href="/src/main/resources/static/css/rota.css" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/rota.css}" media="screen"></link>
</head>
<body>
	<table class="rota-table">
          <thead>
            <tr>
              <th>Id Coleta</th>
              <th>Data Coleta</th>              
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
            <tr th:each="coleta:${coletas}">
              <td th:if="${coleta.statusColeta == completo }" th:text="${coleta.idColeta}"></td>
              <td th:if="${coleta.statusColeta == completo }" th:text="${coleta.dataColeta}"></td>
              <td th:if="${coleta.statusColeta == completo }">
              	<a  th:href="@{'/relatorioRota-'+${coleta.idColeta}+'+'+'visualizar'}">Visualizar Relatório</a>
              	<a th:href="@{'/relatorioRota-'+${coleta.idColeta}+'+'+'baixar'}">Baixar Relatório</a>
              </td>
            </tr>
          </tbody>
        </table>
</body>
</html>